.fadeIn {
  animation: fadeIn 2500ms ease 1;
  -webkit-animation: fadeIn 2500ms ease 1;
  -moz-animation: fadeIn 2500ms ease 1;
  -o-animation: fadeIn 2500ms ease 1;
}
  
@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.fadeInLong {
  animation: fadeIn 5000ms ease 1;
  -webkit-animation: fadeIn 5000ms ease 1;
  -moz-animation: fadeIn 5000ms ease 1;
  -o-animation: fadeIn 5000ms ease 1;
}
  
@keyframes fadeInLong {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}