html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-image: url(../../../assets/background.jpg);
  overflow-x: hidden;
}

h2 {
  margin: 0;
}

h1:hover,
h2:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

.hide {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: 2px solid $white;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

// --------- STYLINGS FOR HOME PAGE ---------

.homeDivider {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.homeImage {
  width: 50%;
  height: 100%;
  background-image: url(../../../assets/portraitBig.jpg);
  background-position: center;
  background-size: cover;
}

.homeContent {
  width: 50%;
  height: 100%;
  display: flex;
  .homePadding {
    margin-top: auto;
    margin-bottom: auto;
    padding: 4rem;
      .intro {
        padding: 1rem 0;
      }
  }
}

.socials {
  padding-bottom: 1rem;
}

.socialIcons {
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 5rem;
    }
  }
}


// --------- STYLINGS FOR SKILLS SECTIONS ---------
.skills {
  background-color: $grey;
  margin: 0;
  color: $white;
  padding: 10rem 0;
  h2 {
    padding-bottom: 10rem;
  }
}

.skillsFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  i {
    height: 100px;
    width: 100px;
    padding: 2rem 0;
    display: inline-block;
  }
  li {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
  h3 {
    margin: 0;
  }
}

.skillsFlexContainer {
  li:hover {
    box-shadow: 1rem 1rem 2rem $black;
    transition: all 0.5s ease-in-out;
  }
}

// --------- STYLINGS FOR PROJECTS ---------
.projects {
  padding: 10rem 0;
}

.projectHeader {
  padding-bottom: 10rem;
}

.proImages {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8rem 0;
}

.imagesGallery {
  position:relative;
  padding: 0;
  margin: 1rem;
  .gallery {
    width: 100%;
    height: 100%;
  }
}

figcaption{
  height: 98%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  border: 5px solid $black;
  p {
    position: relative;
  }
}

figcaption:hover,
figcaption:focus,
figcaption:active {
  opacity: 1;
  top: 0;
}

a:hover figcaption {
  opacity: 0.9;
  background-color: $white;
  color: $white;
  transition: all 1s;
}

.projectText {
  margin: 1rem 1rem 2rem 1rem;
  .projectLinks a {
    margin-right: 3rem;
  }
}

.modalDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(136, 136, 136, 0.9);
  z-index: 99;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  .modalImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(790px * 1.77);
    max-height: 790px;
    color: $black;
    position: relative;
    margin: 0 5rem;
  }
  img {
    height: auto;
    width: 100%;
  }
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalButtonContainer {
  display: flex;
}

.close,
.modalButtonContainer button {
  color: $white;
  background-color: black;
  margin: 2rem;
  padding: 2rem;
  line-height: 2rem;
  transition: all 1.3s ease-in-out;
}

.close {
  margin: 3rem;
  border: 2px solid $white
}

.modalButtonContainer .fas {
  color: $white;
}


.close:hover,
.modalButtonContainer .fas:hover {
  color: $grey;
  transform: rotate(360deg);
}

// --------- STYLINGS FOR CONTACT ---------

.contact {
  padding: 10rem 0 5rem 0;
  background-color: $grey;
}

.contactHeading h2 {
  padding-bottom: 2rem;
}

.contactHeading p {
  color: $white;
  text-align: center;
}

.hireMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    text-align: center;
  }
  a{
    color: $white;
    margin: 1rem 0;
  }
}


.hireMe a:focus,
.hireMe a:hover,
.hireMe a:active {
  color: $black;
}

.formContainer h3 {
  text-align: center;
  margin: 10rem 0 4rem 0;
}

form {
  display: flex;
  flex-direction: column;
  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }
  label {
    color: $white;
    margin: 0 10%;
  }
  input,
  textarea {
    padding: 1rem;
    margin: 1rem 10%;
    border: 2px solid $black;
    color: $black;
  }
  textarea {
    resize: none;
  }
}

.submitForm {
  background-color: $black;
  color: $white;
  border: 2px solid $white;
  cursor: pointer;
  margin: 0 30%;
}

.submitForm:focus,
.submitForm:hover,
.submitForm:active {
  color: $grey;
}

.movieContainer {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

// --------- STYLINGS FOR FOOTER ---------
footer {
  text-align: center;
}
