@media (max-width: 915px) {
  .homeDivider {
    height: auto;
    flex-wrap: wrap;
    // flex-direction: column;
  }
  .homeImage {
    width: 100%;
    height: 60vh;
    background-image: url(../../../assets/portraitmobilegrey.jpg);
  }

  .homePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  .homeContent,
  .proOneContent {
    width: 100%;
    height: auto;
  }

  // --------- STYLINGS FOR PROJECTS ---------
  .proImages {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
}

@media (max-width: 400px) {
  .navbarToggle {
    right: 0.9rem;
  }
  
  .navList {
    flex-direction: column;
    top: 0;
    right: 0;
    left: 240px;
    width: 30%;
    transform: translateY(-110%);
  }

  .showMenu {
    transform: translateY(45px);
  }

  .socialIcons ul {
    justify-content: space-around;
  }

  .skills {
    padding: 5rem 0;
    h2 {
      padding-bottom: 2rem;
    }
    .skillsFlexContainer {
      justify-content: center;
      li {
        margin: 0;
      }
      i {
        font-size: 5rem;
      }
    }
  }

  .projects,
  .contact {
    padding: 5rem 0;
    h2 {
      padding-bottom: 2rem;
    }
  }

  .proImages {
    display: block;
  }

  figcaption p {
      @include fontStyles(2rem, 0.7rem, white);
      font-weight: 700;
  }
}