@media (max-width: 915px) {
  .homeDivider {
    height: auto;
    flex-wrap: wrap;
    // flex-direction: column;
  }
  .homeImage {
    width: 100%;
    height: 60vh;
    background-image: url(../../../assets/portraitmobilegrey.jpg);
  }

  .homePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  .homeContent,
  .proOneContent {
    width: 100%;
    height: auto;
  }

  // --------- STYLINGS FOR PROJECT 1 ---------
  .sectionDivider {
    background-color: $grey;
    height: 10vh;
  }

  .proOneDivider {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .proOneImages {
    width: 100%;
    height: 80vh;
  }
  
  .proOnePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }
}