@media (max-width: 915px) {
  .homeDivider {
    height: auto;
    flex-wrap: wrap;
  }
  .homeImage {
    width: 100%;
    height: 60vh;
    background-image: url(../../../assets/portraitmobilegrey.jpg);
  }

  .homePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  .homeContent,
  .proOneContent {
    width: 100%;
    height: auto;
  }

  // --------- STYLINGS FOR PROJECTS ---------
  .proImages {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .contactHeading p {
    padding: 0 2rem;
  }

  .contactContainer {
    flex-direction: column;
  }
}

@media (max-width: 500px) {

  .navList {
    flex-direction: column;
    top: 1.5rem;
    right: 1.3rem;
    width: 30%;
    transform: translateY(-120%);
  }
  
  .navbarToggle {
    top: 1rem;
    right: 1rem;
  }

  .showMenu {
    transform: translateY(45px);
  }

  .socialIcons ul {
    justify-content: space-around;
  }

  .skills {
    padding: 5rem 0;
    h2 {
      padding-bottom: 2rem;
    }
    .skillsFlexContainer h3 {
      font-size: 1.5rem;
    }
    .skillsFlexContainer li {
      margin: 0;
      padding: 0.6rem;
    }
    .skillsFlexContainer i {
      font-size: 5rem;
    }
  }

  .projects,
  .contact {
    padding: 5rem 0;
    h2 {
      padding-bottom: 2rem;
    }
  }

  .proImages {
    display: block;
    div {
      margin-bottom: 10rem;
    }
  }

  figcaption p {
      @include fontStyles(2rem, 0.7rem, $black);
      font-weight: 700;
  }

  .scrollToTop {
    bottom: 3rem;
    right: 1.6rem;
    padding: 0.7rem;
    font-size: 2.5rem;
  }
}