button {
  cursor: pointer
}

// .navbar-default .navbar-toggle {
//     // background-image: url(../../../assets/menu-icon.png);
//     margin-top: 28px;
//     border-color: transparent;
//     background-color: transparent;
// }

.navbar {
    min-height: 75px;
    margin-bottom: 25px;
}

.navbar-nav {
  display: flex;
}

.navbar-default {
    background-color: transparent;
    border-bottom: 1px solid #fff;
}


.navbar-toggle .fas {
  font-size: 4rem;
  color: $grey;
}

.navbar-toggle .fas:focus,
.navbar-toggle .fas:hover {
  color: $white;
}


.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.2s;
  padding-top: 4rem;
  // position: relative;
  // float: right;
  // padding: 1rem;
  // margin-top: 0.8rem;
  // margin-right: 1.5rem;
  // background-image: none;
}

.showNav {
  transform: translateY(0);
}


// .navbar-default {
//     background-color: $black;
//     height: 74px;
// }

.navbar-nav a{
    line-height: 50px;
    padding: 1rem;
}


// @media(min-width:767px) {
//   .navbar {
//     padding: 0px 0;
//     -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     transition: background .5s ease-in-out,padding .5s ease-in-out;
//   }

//   .top-nav-collapse {
//     padding: 0;
//   }
// }

// @media(max-width: 1250px) {
//   .navbar-default .navbar-nav>li>a {
//       letter-spacing: 1px;
//   }
// }