button {
  cursor: pointer
}

.navbar {
    background-color: transparent;
}

.navList {
  border: 1px solid $white;
  position: fixed;
  top: -25px;
  right: 85px;
  transform: translateY(-100%);
  transition: transform 0.1s;
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  z-index: 98;
  background-color: $black;
  a {
    line-height: 50px;
    padding: 1rem 0.5rem;
    color: $white;
    background: $black;
  }
}

.navList a:focus,
.navList a:hover,
.navList a:active {
  color: $grey;
}

.navbarToggle {
  position: fixed;
  top: 0.9rem;
  right: 1.5rem;
  background-image: none;
  background: transparent;
  border: none;
  z-index: 99;
}

.navbarToggle .fas {
  font-size: 3rem;
  color: $white;
  background: $black;
  padding: 1rem;
  border: 1px solid $white;
}

.navbarToggle .fas:focus,
.navbarToggle .fas:hover,
.navbarToggle .fas:active {
  color: $grey;
}

// This unhides the navbar when ham button is clicked
.showMenu {
  transform: translateY(15px);
}