button {
  cursor: pointer
}

// .navbar-default .navbar-toggle {
//     // background-image: url(../../../assets/menu-icon.png);
//     margin-top: 28px;
//     border-color: transparent;
//     background-color: transparent;
// }

.navbar {
    min-height: 75px;
    margin-bottom: 25px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

.navList {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.navMenu {
  display: flex;
}

.navMenu a{
  line-height: 50px;
  padding: 1rem;
}

.navbarToggle {
  position: relative;
  float: right;
  padding: 1rem;
  margin-top: 0.8rem;
  margin-right: 1.5rem;
  background-image: none;
  z-index: 100;
}

.navbarToggle .fas {
  font-size: 4rem;
  color: $grey;
  .navbarToggle .fas:focus,
  .navbarToggle .fas:hover {
    color: $white;
  }
}

// This unhides the navbar when ham button is clicked
.showMenu {
  transform: translateY(0);
}




// @media(min-width:767px) {
//   .navbar {
//     padding: 0px 0;
//     -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
//     transition: background .5s ease-in-out,padding .5s ease-in-out;
//   }

//   .top-nav-collapse {
//     padding: 0;
//   }
// }

// @media(max-width: 1250px) {
//   .navbar-default .navbar-nav>li>a {
//       letter-spacing: 1px;
//   }
// }