// font-family: 'Source Sans Pro', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-family: $primaryFont;
    @include fontStyles(2rem, 3.5rem);
    background-image: url(../../../assets/background.jpg)
}

h1,
h2 {
    @include fontStyles(7rem, 7rem);
    font-weight: 400;
}

.tagline,
.projectTitles {
    @include fontStyles(3rem, 3rem, $grey);
    font-weight: 400;
}

.bio span {
    color: $grey;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    color: $grey;
}

a:hover {
    color: $white;
}

