// font-family: 'Source Sans Pro', sans-serif;

html {
    font-size: 62.5%;
}

body,
input {
    font-family: $primaryFont;
    @include fontStyles(2rem, 3.5rem);
}

h1,
h2 {
    @include fontStyles(7rem, 7rem);
    font-weight: 400;
}

h2 {
    color: $white;
    text-align: center;
  }

h3 {
    @include fontStyles(2rem, 3.5rem, $white);
}

.projectHeader {
    color: $lighterGrey;
}

.tagline,
.projectTitles {
    @include fontStyles(3rem, 3rem, $grey);
    font-weight: 400;
}

.bio span {
    color: $grey;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    color: $grey;
}

a:hover {
    color: $white;
}

.hireMe h3 {
  @include fontStyles(4rem, 0.7rem, white);
}

.formContainer h3 {
  @include fontStyles(4rem, 0.7rem, white);
}
