html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #c5c5c5;
  background-image: url(../../../assets/background.jpg);
}

h1,
h2 {
  font-size: 7rem;
  line-height: 7rem;
  color: #c5c5c5;
  font-weight: 400;
}

.tagline,
.projectTitles {
  font-size: 3rem;
  line-height: 3rem;
  color: #888888;
  font-weight: 400;
}

.bio span {
  color: #888888;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #888888;
}

a:hover {
  color: #f7f7f7;
}

.homeDivider {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeImage {
  width: 50%;
  height: 70vh;
  background-image: url(../../../assets/portraitshotgrey.jpg);
  background-position: center;
  background-size: cover;
}

.homeContent {
  width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePadding {
  margin-top: auto;
  margin-bottom: auto;
  padding: 4rem;
}
.homePadding .intro {
  padding: 1rem 0;
}

.socials {
  padding-bottom: 1rem;
}

.socialIcons {
  width: 100%;
}
.socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.socialIcons ul li {
  display: inline-block;
  margin-right: 1rem;
}

.skills {
  background-color: #888888;
  margin: 0;
  color: #f7f7f7;
}
.skills h2 {
  color: #f7f7f7;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

.skillsTop ul,
.skillsBottom ul {
  margin: 0;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skillsTop .fab,
.skillsBottom .fas,
.skillsBottom .fab {
  font-size: 3rem;
}

.skillsBottom li {
  padding-bottom: 2rem;
}

.proOneDivider {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.proOneImages {
  width: 50%;
  height: 100vh;
  background-color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proOneImages .desktopContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.proOneImages .mobileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.desktopContainer {
  max-width: 580px;
  max-height: calc(580px / 1.6);
}
.desktopContainer .desktop {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

.iPhoneContainer {
  max-width: 150px;
  max-height: calc(150px * 2.16);
}
.iPhoneContainer .iPhone {
  max-width: 100%;
  max-height: 100%;
}

.iPadContainer {
  max-width: 350px;
  max-height: calc(350px * 1.3);
}
.iPadContainer .iPad {
  max-width: 100%;
  max-height: 100%;
  margin-left: 0.5rem;
}

.proOneContent {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.proOnePadding {
  margin-top: auto;
  margin-bottom: auto;
  padding: 4rem;
}

@media (max-width: 915px) {
  .homeDivider {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .homeImage {
    width: 100%;
    height: 60vh;
    background-image: url(../../../assets/portraitmobilegrey.jpg);
  }

  .homePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  .homeContent,
.proOneContent {
    width: 100%;
    height: auto;
  }

  .sectionDivider {
    background-color: #888888;
    height: 10vh;
  }

  .proOneDivider {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .proOneImages {
    width: 100%;
    height: 80vh;
  }

  .proOnePadding {
    padding: 0.5rem 2rem;
    margin: 0;
  }
}
.fadeIn {
  animation: fadeIn 2500ms ease 1;
  -webkit-animation: fadeIn 2500ms ease 1;
  -moz-animation: fadeIn 2500ms ease 1;
  -o-animation: fadeIn 2500ms ease 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInLong {
  animation: fadeIn 5000ms ease 1;
  -webkit-animation: fadeIn 5000ms ease 1;
  -moz-animation: fadeIn 5000ms ease 1;
  -o-animation: fadeIn 5000ms ease 1;
}

@-webkit-keyframes fadeInLong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button {
  cursor: pointer;
}

.navbar {
  min-height: 75px;
  margin-bottom: 25px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-default {
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.navbar-toggle .fas {
  font-size: 4rem;
  color: #888888;
}

.navbar-toggle .fas:focus,
.navbar-toggle .fas:hover {
  color: #f7f7f7;
}

.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding-top: 4rem;
}

.showNav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar-nav a {
  line-height: 50px;
  padding: 1rem;
}